{% extends "base.html" %}

{% block body %}
{% include "nav.html" %}
<div class="row pt-8 pricing-table">
    <div class="col-12 mx-auto">
        <div class="card-deck pricing-table">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">AI Blog Writer </h3>
                    <h2 class="card-title text-primary mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>A blog writing AI that can help you write better and faster, 
                       With our AI, you'll get help crafting headlines, structuring your b,
                         and even come up with new ideas for topics to write about.</p>
                    </ul>
                    <a href="/blogwriter" class="btn btn-primary">
                        Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">AI Product Description Writer</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                        The AI Product Writing AI is a powerful artificial intelligence that can help
                         you write product descriptions that are  accurate, compelling and error-free.
                    </ul>
                    <a href="/productdescwriter" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">AI Business Name Generator</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                       

This name generator AI will help you create unique and interesting names for your characters or businesses. 

                       </p>
                    </ul>
                    <a href="/namegenerator" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">AI Blog Topic Generator</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                       
If you're looking for ideas for blog topics, look no further! 
The Blog Topic Generator can help you come up with ideas for topics to write about. 

                    </p>
                    </ul>
                    <a href="/blogideagenerator" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock body %}